<%- include('../layouts/user-dashboard.ejs') -%>

  <div class="col-12 col-md-9">
    <section class="container1">
      <h1 class="">Edit Profile</h1>
      <div class="d-flex justify-content-center align-items-center m-auto">

        <form action="/edit-user" method="post" class="form">
          <div class="input-box">
            <label>Username</label>
            <input type="text" placeholder="Enter your full name" name="name" value="<%= user.name %>">
          </div>

          <div class="column">
            <div class="input-box">
              <label>Email</label>
              <input type="email" disabled placeholder="Registered email" name="price" value="<%= user.email %>"
                required />
            </div>
            <div class="input-box">
              <label>Mobile number</label>
              <input type="text" placeholder="Enter your mobile" name="mobile" value="<%= user.mobile %>" required />
            </div>
          </div>

          <div class="form-group col-md-3 mt-3 mb-5">

            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </section>
  </div>
  </div>
  <%- include('../layouts/user-dashboard-footer.ejs') -%>