<%- include('../layouts/user-dashboard.ejs') -%>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">



  <div class="mt-5 col-lg-9">

    <h3 class="text-center">Wallet History</h3>

    <table class="table mt-2" id="myTable">
      <thead class="table-secondary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
          <th scope="col">Details</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <% if(walletHistory){ %>
          <% for(i in walletHistory){ %>
            <tr>
              <td>
                <%= walletHistory[i]._id %>
              </td>
              <td>
                <%= (new Date(walletHistory[i].date)).toLocaleDateString('en-US', { month: 'long' , day: 'numeric' ,
                  year: 'numeric' }) %>
              </td>
              <td>
                <%= walletHistory[i].amount %>
              </td>
              <td>
                <%= walletHistory[i].type %>
              </td>
              <td>
                <%= walletHistory[i].details%>
              </td>
              <td>
                <%= walletHistory[i].balance %>
              </td>

            </tr>
            <% }} %>


      </tbody>
    </table>
  </div>


  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>